<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="apages" type="com.beetoffice.approval.PagingProcessApproval"/>  
   	    <typeAlias alias="approval" type="com.beetoffice.approval.ApprovalVO"/>          
        <typeAlias alias="user" type="com.beetoffice.user.UserVO"/>
        <typeAlias alias="commute" type="com.beetoffice.commute.CommuteVO"/>
        <typeAlias alias="meetingroom" type="com.beetoffice.meetingroom.MeetingRoomVO"/>
        <typeAlias alias="companyevent" type="com.beetoffice.companyevent.CompanyEventVO"/>
        <typeAlias alias="searchemployee" type="com.beetoffice.searchemployee.SearchEmployeeVO"/>
        <typeAlias alias="project" type="com.beetoffice.project.vo.ProjectVO"/>
        <typeAlias alias="source" type="com.beetoffice.project.vo.SourceVO"/>
        <typeAlias alias="pages" type="com.beetoffice.project.PagingProcess"/>
        <typeAlias alias="board" type="com.beetoffice.board.BoardVO"/>
        <typeAlias alias="dpboard" type="com.beetoffice.dpboard.DpBoardVO"/>
        <typeAlias alias="comment" type="com.beetoffice.board.CommentVO"/>
        <typeAlias alias="dpcomment" type="com.beetoffice.dpboard.DpCommentVO"/>
        <typeAlias alias="like" type="com.beetoffice.board.LikeVO"/>
    </typeAliases>

    <mappers>
        <mapper resource="mappings/like-mapper.xml"/>
        <mapper resource="mappings/user-mapper.xml"/>
        <mapper resource="mappings/commute-mapper.xml"/>
        <mapper resource="mappings/comment-mapper.xml"/>
        <mapper resource="mappings/approval-mapper.xml"/>
        <mapper resource="mappings/meetingroom-mapper.xml"/>
        <mapper resource="mappings/companyevent-mapper.xml"/>
        <mapper resource="mappings/searchemployee-mapper.xml"/>
        <mapper resource="mappings/project-mapper.xml"/>
        <mapper resource="mappings/board-mapper.xml"/>
    </mappers>
</configuration>

